<div class="img"><br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 style="color: white;">-Follow Users-</h2>
        <%= render "users/follow", users: @users %>
      </div>
    </div>
  </div>
</div>
