<div class="img">
  <div class="container"><br>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="font" style="color: white; margin-top: 50px;">〘 Follows 〙</h2><br>
        <%= render "users/follow", users: @users %>
      </div>
    </div>
  </div>
</div>
