<div class="containar">
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="slider">
        <div id="skippr-slider">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
          <div class="image6"></div>
          <div class="image7"></div>
        </div>
      </div>
      <div class="about" style="color: #f8f8ff;">
        <p><b><h3>-世界各国の魅力を知りたい貴方様へ-</h3><br>
          <h5>
            この<i class="fas fa-globe"></i>Majestic Sights<i class="fas fa-globe"></i>では､<br>
            世界各国の魅力をシェアしあい､<br>
            皆様の行ってみたいを叶えます｡
          </h5>
          <%= image_tag "mj.png", alt: 'ロゴ画像', size: '400x200' %>
          <h4>
            日本から世界へ冒険しよう!!<br>
            Let's adventure from Japan to the world
          </h4><b>
        </p>
      </div>
    </div>
  </div>
</div>