<div class="containar">
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="slider">
        <div id="skippr-slider">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
          <div class="image6"></div>
          <div class="image7"></div>
        </div>
      </div>
      <div class="box">
        <%= link_to home_about_path do %>
          <p class="float1"><%= image_tag "mj.png", alt: 'ロゴ画像', size: '600x300' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
