<div class="img2"><br>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 style="color: white;">〘 Posts List 〙</h2><br>
      </div>
    </div>
    <%= render 'posts/post' %>
  </div><br>
</div>