/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

footer {
  position: absolute;
  bottom: 0;
}

#flash {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 9999;
}

#logo {
  margin-left: 50px;
}

.botton {
  margin-left: 20px !important;
  margin-top: 5px;
}

.image1 {
  background-image: image-url("01.jpg");
}
.image2 {
  background-image: image-url("02.jpg");
}
.image3 {
  background-image: image-url("03.jpg");
}
.image4 {
  background-image: image-url("04.jpg");
}
.image5 {
  background-image: image-url("05.jpg");
}
.image6 {
  background-image: image-url("06.jpg");
}
.image7 {
  background-image: image-url("07.jpg");
}

#slider{
  width:	100%;
  height: 100vh;
}

.sign {
  background-color: black;                 /* 背景色 */
  background-image: image-url("back.jpg"); /* 画像 */
  background-size: cover;                  /* 全画面 */
  background-position: center center;      /* 縦横中央 */
  height: auto;
}

.img {
  background-color: black;                 /* 背景色 */
  background-image: image-url("back.jpg"); /* 画像 */
  background-size: cover;                  /* 全画面 */
  background-position: center center;      /* 縦横中央 */
  background-attachment: fixed;
  width: 100%;
  height: 45vw;
}

.img2 {
  background-color: black;                 /* 背景色 */
  background-image: image-url("back.jpg"); /* 画像 */
  background-size: cover;                  /* 全画面 */
  background-position: center center;      /* 縦横中央 */
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

#search {
  margin-left: 20px !important;
  margin-top: 7px;
}

textarea.body {
  resize: none;
  height: 40px;
  white-space: pre-wrap;
}

textarea.introduction {
  resize: none;
  white-space: pre-wrap;
}

.introduction {
  white-space: pre-wrap;
}

.post_title {
  color: white;
  text-align: center;
  background-color: #696969;
}

.user_name {
  color: black;
}

.card-text {
  text-align: left;
  white-space: pre-wrap;
}

.fasfa-alt{
  color: black;
}

#map {
  height: 250px;
  width: 100%;
  background-color: grey;
}

#post_body {
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  box-shadow: 0 1px 0 rgba(255,255,255,1);
}


.hover:hover {
  color: black;
}

.line{
  line-height: 70px;
}

