// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.footer-text {
  color: white;
  margin: 0 auto;
  font-family: 'ヒラギノ明朝 Pro W6';
}

.home {
  position: absolute;
  top: 30%;
  left: 28%;
  z-index: 9998;
}

.about {
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}
