<footer class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
  <div class="col-md-12" style="text-align:center">
    <p class="footer-text"> © All rights reserved by Rintaro Matsumoto.</p>
  </div>
</footer>
